html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	&.bg-mobile {
		background-color: #262835;
	}
}

.bg-my-secondary {
	background-color: #262835;
}
.bg-third {
	background-color: #24252B;
}

img {
	max-width: 100%;
	// height: auto;
}


.w-sm-100 {
	@include sm() {
		width: 100% !important;
	}
}
.w-md-100 {
	@include md() {
		width: 100% !important;
	}
}
.w-lg-100 {
	@include lg() {
		width: 100% !important;
	}
}
.w-xl-100 {
	@include xl() {
		width: 100% !important;
	}
}


.separator {
	position: relative;
	&:after {
		content: '';

		position: absolute;
		top: 100%;
		left: 0;
		transform: translate(0, -50%);

		height: 306px;
		width: 100%;

		background-image: url('../images/separator.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
}