.container-fluid {
	max-width: 1200px;
	// margin-left: 0;
	// margin-right: 0;
}
.row {
}
.form-row {
	margin-left: -10px;
	margin-right: -10px;
}
.form-row > .col,.form-row > .column, .form-row > [class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}
.column {
	padding-left: 15px;
	padding-right: 15px;
}