$rem-font-size: 16px;
$font: 'PT Sans', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #fff;
$document-line-height: 1.3;
$document-background: #1C1C1C;
// $document-background: #fff;
// $document-background: transparent;