.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;
	padding: 13px 20px 12px;

	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.03em;
	color: #fff !important;
	border: 1px solid transparent;

	background: linear-gradient(84.24deg, #D0243C 6.38%, #FD4103 99.46%);
	/* Red Glow */
	box-shadow: 0px 0px 12px #F6282B;
	border-radius: 80px;
	text-decoration: none !important;
	&:hover {
		background: linear-gradient(84.24deg, #D0243C 6.38%, #FD4103 99.46%);
		opacity: 0.7;
		/* Red Glow */
		box-shadow: 0px 0px 12px #F6282B;
	}
	&-third {
		border-color: #C1E151;
		background: transparent;
		box-shadow: none;
		.button-circle {
			.svg-icon {
				color: #C1E151;
				font-size: 18px;
			}
		}
		&:hover {
			background: linear-gradient(49.31deg, rgba(#C1E151, .7) 13.09%, rgba(#8EB409, .7) 90.66%);
			// opacity: 0.7;
			opacity: 1;
			border-color: transparent;
			box-shadow: none;
		}
		&.active {
			background: linear-gradient(49.31deg, #C1E151 13.09%, #8EB409 90.66%);
			/* Green Glow */
			box-shadow: 0px 0px 15px rgba(164, 197, 56, 0.7);
			&:hover {
				opacity: 1;
				box-shadow: 0px 0px 15px rgba(164, 197, 56, 0.9);
			}
		}
		&-icon {
			padding: 4px 4px 4px 20px;
		}
	}
	&-default {
		background: #fff;
		border-color: #fff;
		box-shadow: none;
		color: #42434B !important;
		&:hover {
			background: rgba(#fff, .7);
			border-color: rgba(#fff, .7);
			box-shadow: none;
		}
	}
	&-width {
		width: 206px;
	}
}

.button-circle {
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	padding: 9px 9px 8px;
}