.cash {

}
.cash-in {
	position: relative;
	padding: 22px 10px 22px;
	overflow: hidden;
	@include mlg() {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&:after {
		content: '';

		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 120px;
		height: 120px;

		background-image: url('../images/ellipse.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		@media only screen and (max-width: 1919px) {
			display: none;
			@include lg() {
			}
		}
	}
}
.cash-btn {
	position: relative;
	z-index: 2;
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 2px 2px 2px 10px;
	font-weight: 700;
	font-size: 12px;
	line-height: 1;
	text-transform: capitalize;
	color: #fff !important;
	border: 1px solid #C1E151;
	border-radius: 30px;
	text-decoration: none !important;
	@media only screen and (max-width: 1919px) {
		@include lg() {
			padding-left: 2px;
		}
	}
	@include mlg() {
		font-size: 16px;
	}
}
.cash-btn-plus {
	display: inline-block;

	padding: 2px 7px;
	margin-left: 8px;
	background: linear-gradient(79.82deg, #C1E151 13.09%, #8EB409 90.66%);
	border-radius: 39px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	@media only screen and (max-width: 1919px) {
		@include lg() {
			margin: 0;
		}
	}
}
.cash-btn-txt {
	@media only screen and (max-width: 1919px) {
		@include lg() {
			display: none;
		}
	}
}