.categorys {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	width: 100%;
	padding-left: 20px;
	margin-top: -1px;
	perspective: 100px;
	@include mlg() {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 0;
		margin: 0;
		width: auto;

		opacity: 0;
		visibility: hidden;

		transition: linear .2s;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	// padding-right: 20px;
	
	&.unvisible {
		.categorys-in {
			@include lg() {
				transform: rotateX(-115deg);
				opacity: 0;
				visibility: hidden;
			}
		}
	}

}
.categorys-in {
	padding: 1px 20px 1px 10px;
	background: #262835;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #585A62;
	transform-origin: 50% 0;
	transform: rotateX(0);
	transition: linear .2s;
	@include mlg() {
		padding-top: 60px;
		padding-bottom: 60px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
	}
}
.categorys-carousel {
	@include mlg() {
		display: flex !important;
		flex-wrap: wrap;
	}
	.owl-prev {
		left: -5px;
	}
	.owl-next {
		right: -15px;
	}
}
.categorys-link {
	display: block;
	padding: 9px;
	font-size: 10px;
	text-align: center;
	text-transform: capitalize;
	color: #fff !important;	
	text-decoration: none !important;
	@include mlg() {
		width: 100%;
		max-width: 33.3%;
		flex: 0 0 33.3%;
	}
	@include msm() {
		max-width: 50%;
		flex: 0 0 50%;
	}
	@include mlg() {
		font-size: 18px;

		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		text-align: left;
		br {
			display: none;
		}
	}
}
.categorys-link-icon {
	position: relative;
	z-index: 2;
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-image: url('../images/category-link-shadow.png');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 60px 60px;
		
	}
	.svg-icon {
		position: relative;
		flex-shrink: 0;
		color: #C1E151;
		font-size: 25px;
	}
	@include mlg() {
		margin-right: 15px;
		margin-bottom: 0;
	}
}



.categorys-close {
	position: absolute;
	top: 10px;
	right: 20px;

	font-size: 25px;
	color: #fff;
}