.circle {
	width: 115px;
	height: 115px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	background-image: url('../images/round.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 129px;
	border-radius: 50%;

	transition: linear .2s;
	.svg-icon {
		font-size: 65px;
	}
}
.circle-txt {
	font-family: Roboto;
	font-size: 22.1374px;
	text-shadow: 0px 5.53435px 16.6031px rgba(0, 0, 0, 0.35);
	@include msm() {
		font-size: 17px;
	}
}

.circle-stage-wrap {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 128px;
	height: 128px;
	border: 17px solid #fff;
	border-radius: 50%;
	background-color: #fff;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		border: 5px solid #152542;
		border-radius: 50%;
	}
}

.circle-stage {
	width: 51px;
	height: 51px;
	background-size: 70px;
	.svg-icon {
		font-size: 31px;
		color: #fff;
	}
}


.circle-link {
	color: #fff !important;
	text-decoration: none !important;
	&:hover {
		.circle {
			transform: scale(1.1, 1.1);
		}
	}
}