h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 8px;
}
h1 {
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 0.03em;
}
h2  {
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 0.03em;
}
h3 {
	font-weight: 700;
	font-size: 18px;
}
h4 {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.03em;
}
h5 {
	font-weight: 400;
	font-size: 16px;
}
h6 {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
}


.ui-text {
	font-weight: bold;
	font-size: 12px;
	text-transform: capitalize;
}
.ui-mini {
	font-size: 10px;
	text-transform: capitalize;
}


.devider {
	border: none;
	border-bottom: 1px solid #fff;
}

.text-grey {
	color: #B8BCC8;
}