.contact {

}
.contact-form {
	.form-control {
		background-color: #15253B;
		border-color: #273C51;
		box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(0, 0, 0, 0.5);
		color: #fff;
		@include iph() {
			color: rgba(#fff, .1);
			text-align: left;
		}
		&:focus {
		}
	}
	.was-validated .form-control:valid, .form-control.is-valid {
		border-color: #fff;
	}
	.valid-feedback {
		color: #fff;
	}
}

.contact-logo {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	@include lg() {
		margin-top: 0;
		width: auto;
		flex-shrink: 0;
		text-align: left;
	}
	@include msm() {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.contact-info {

}