.footer {
	margin-top: auto;

	font-size: 14px;
	color: #FFFFFF;
}

.footer-head {
	background: linear-gradient(180deg, #191B20 0%, rgba(25, 27, 32, 0.3) 49.84%, #191B20 100%);
	border: 1px solid #313030;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
	.header-main {
		padding-left: 5px;
		padding-right: 5px;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #7A84A4;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
			text-transform: uppercase;
		}
		@include mlg() {
			margin-left: 0;
		}
	}
}
.footer-other {
	background-color: #28292F;
	.header-main {
		padding: 15px 40px;
		margin: 0;
		@include msm() {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}
.footer-other-copy {
	width: 100%;
	max-width: 335px;
	flex: 0 0 335px;
	padding: 15px;
	@include mlg() {
		max-width: 200px;
		flex: 0 0 200px;
	}
	@include msm() {
		max-width: none;
		flex: 0 1 auto;
	}
}

.footer-link {
	color: inherit !important;
	text-decoration-color: #313341;
}

.footer-logo-wrap {

}


.payment-carousel {
	padding-left: 20px;
	padding-right: 20px;
	.owl-stage {
		display: flex;
		align-items: center;
	}
	.column {
		padding-left: 42px;
		padding-right: 42px;
		@include mxl() {
			padding-left: 20px;
			padding-right: 20px;
		}
		@include mlg() {
			padding-left: 30px;
			padding-right: 30px;
		}
		@include msm() {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.owl-nav {
		.owl-prev {
			left: 10px;
			@include msm() {
				left: 0;
			}
		}
		.owl-next {
			right: -10px;
		}
	}
	.owl-item {
		text-align: center;
		img {
			width: auto !important;
			max-width: none;
			display: inline-block !important;
			@include mxl() {
				// max-width: 100%;
			}
		}
	}
}