.form-control {
	padding: 15px 20px 14px;
	height: auto;
	min-height: auto;
	line-height: 1;

	background: #EFEDED;
	border: 1px solid #EAEAEA;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(0, 0, 0, 0.5);
	border-radius: 4px;

	font-family: $font;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: rgba(#414C56, 1);

	resize: none;
	@include iph() {
		font-family: $font;
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: rgba(#414C56, .2);
		transition: linear .1s;
	}
	&:focus {
		outline: none;
		box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(0, 0, 0, 0.5);
		background: #EFEDED;
		border: 1px solid #EAEAEA;
		@include iph() {
			opacity: 0;
		}
	}
}