.invalid-feedback {
	font-size: 1rem;
	font-weight: 400 !important;
	font-size: 15px !important;
}
.valid-feedback {
	font-size: 1rem;
	font-weight: 400 !important;
	font-size: 15px !important;
}
.was-validated .form-check-input:invalid~.checkbox-label .invalid-feedback {
	display: block;
}