.front {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 80px;
	@include md() {
		min-height: 670px;
		padding-top: 165px;
		padding-bottom: 50px;
	}
}