.game-menu {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	// @media only screen and (min-width: 1585px) {
	// 	height: 72px;
	// 	overflow: hidden;
	// }
	// @media only screen and (max-width: 1919px) {
	// 	margin-right: auto;
	// }
	// @media only screen and (max-width: 1584px) {
	// 	padding-left: 15px;
	// 	padding-right: 15px;
	// }
	// @include mlg() {
	// 	padding-left: 0;
	// 	padding-right: 0;
	// 	margin-bottom: auto;
	// 	padding-bottom: 30px;
	// }
	// li {
	// 	&.active {
	// 		.game-menu-item {
	// 			background: #262835;
	// 			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #585A62;
	// 		}
	// 		.game-item-icon-wrap {
	// 		}
	// 	}
	// }
}
.game-menu-list {
	.owl-nav {
		.owl-prev {
			left: -15px;
		}
		.owl-next {
			right: -15px;
		}
	}
	@include lg() {
		// padding-left: 20px;
		// padding-right: 20px;
	}
	@include mlg() {
		display: block !important;
	}
}
.game-menu-item {
	overflow: hidden;
	position: relative;
	display: inline-flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: 22px 20px 22px;
	font-size: 14px;
	color: #7A84A4;
	line-height: 1;
	text-decoration: none !important;

	transition: linear .1s;
	cursor: pointer;
	
	@include mlg() {
		padding-top: 10px;
		padding-bottom: 10px;
		// display: flex;

		font-size: 18px;
	}
	@include msm() {
		font-size: 16px;
	}
	img {
		width: auto !important;
	}
	span {
		margin-left: 7px;
	}
	&:hover {
		color: #fff;
		&:before, &:after {
			opacity: 1;
			visibility: visible;
			margin-bottom: 0;
		}
		.game-item-icon-wrap {
			top: -1px;
		}
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		margin-bottom: -5px;

		border: 2px solid #FFFFFF;
		box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);

		opacity: 0;
		visibility: hidden;

		transition: linear .1s;
	}
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25px;

		background: rgba(#fff, .1);
		filter: blur(18px);

		opacity: 0;
		visibility: hidden;
		margin-bottom: -5px;
	}
	&.active {
		background: #262835;
		@include lg() {
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #585A62;
		}
		@include mlg() {
			color: #fff;
			// &:before {
			// 	opacity: 1;
			// 	visibility: visible;
			// 	margin-bottom: 0;
			// }
		}
	}
}
.game-item-icon-wrap {
	position: relative;
	display: inline-block;
	padding: 0 4px 2px;
	background: #292C3B;
	border-radius: 3px;
	// margin-left: auto !important;

	transition: linear .1s;
	.svg-icon {
		transform: rotate(180deg);
		font-size: 9px;
		line-height: 1;
		color: #7A84A4;
	}
	@include mlg() {
		display: none !important;
	}
}

.game-menu-item-trigger {
	padding-top: 28px;
	padding-bottom: 28px;
	&:hover {
		&:before, :after {
			display: none;
		}
	}
	@media only screen and (min-width: 1585px) {
		// display: none;
	}
	@include mlg() {
		// display: none;
	}
}


.style-carousel {
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		margin: 0;
		transform: translate(0, -50%);
		[class*="owl-"] {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 25px !important;
			margin: 0;
			&:hover {
				background-color: transparent;
			}
			&:focus {
				outline: none;
			}
		}
	}
}


.game-menu-toggle {
	color: #fff;
	font-size: 20px;
}