.header {
	background-color: #1C1E23;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
}
.header-logo-wrap {
	/* width: 100%; */
	/* max-width: 18.5%; */
	/* flex: 0 0 18.5%; */
	position: absolute;
	top: 0;
	left: 0;
	width: 335px;
	// background-color: #262835;
	@include mlg() {
		width: 200px;
	}
}
.header-main {
	margin-left: 335px;
	@include mlg() {
		margin-left: 200px;
	}
}
.header-mobile {
	// width: 100%;
	// max-width: 81.5%;
	// flex: 0 0 81.5%;
	
}
.header-menu {
	@include lg() {
		padding-left: 20px;
		padding-right: 20px;
	}
	@include xl() {
		width: 100%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	@include mxl() {
		@include lg() {
			flex: 0 0 70%;
			max-width: 70%;
		}
	}

}
.header-other {
	@include xl() {
		width: 100%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	@include mxl() {
		@include lg() {
			flex: 0 0 30%;
			max-width: 30%;
		}
	}
	@include mlg() {
		margin-top: auto;
	}
}

.mobile-collapse-toggle {
	color: #fff;
	padding-top: 21px;
	padding-bottom: 21px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0;
	.svg-icon {
		font-size: 30px;
	}
	@include mlg() {
		padding-top: 12px;
		padding-bottom: 11px;
	}
}

.mobile-collapse {
	@include mlg() {
		position: fixed;
		top: 0;
		left: -100px;
		bottom: 0;

		width: 100%;
		background-color: transparent;


		opacity: 0;
		visibility: hidden;
		transition: linear .2s;
		&.visible {
			opacity: 1;
			visibility: visible;
			left: 0;
		}
	}
}
.mobile-collapse-in {
	@include mlg() {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
		padding: 50px 15px;

		background-color: #262835;
		overflow-y: auto;

		display: flex;
		flex-direction: column;
		// flex-direction: column-reverse;
	}
	@include msm() {
		padding-left: 0;
		padding-right: 0;
	}
}


.mobile-collapse-close {
	font-size: 30px;
	color: #fff;

	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 99999;
	@include msm() {
		font-size: 25px;
	}
}
