.lang {
	display: inline-block;
	position: relative;
	perspective: 100px;
	cursor: pointer;
	&:hover {
		.lang-list {
			opacity: 1;
			visibility: visible;
			transform: rotateX(0);
		}
		.svg-icon {
			transform: rotate(180deg);
		}
	}
}
.lang-btn {
	color: #7A84A4;
	font-size: 10px;
	.svg-icon {
		margin-left: 5px;
	}
}
.lang-list {
	position: absolute;
	top: 100%;
	left: 4px;
	width: 100%;

	transition: linear .2s;
	transform-origin: 50% 0;
	transform: rotateX(-90deg);

	opacity: 0;
	visibility: hidden;
	li {
		margin-top: 7px;
	}
	a {
		display: block;
		transition: linear .1s;
		&:hover {
			transform: scale(1.2, 1.2);
		}
	}
}