.link {
	display: inline-block;
	&_notif {
		margin-top: 10px;
		font-weight: bold;
		font-size: 12px;
		text-transform: capitalize;
		color: #7A84A4;
		text-decoration: underline;
		text-decoration-color: #7A84A4;
		&:hover {
			color: #fff;
			text-decoration-color: #fff;
		}
	}
}