.menu {
	@media only screen and (max-width: 1520px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 99999;

		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transition: linear .3s;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: rgba(#000, .3);
		}
		.menu-nav {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
	.menu-nav {
	}
	.header__contacts {
		margin-left: 0 !important;
		margin-top: 30px;
		.row {
			flex-direction: column;
			.phone-link {
				text-align: left;
			}
		}
	}
	.header__border-left {
		border: none;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
		// left: 0;
	}
}
.menu-inner {
	@media only screen and (max-width: 1520px) {
		position: relative;
		display: flex;
		flex-direction: column;
		// flex-grow: 1;
		height: 100%;
		// justify-content: space-between;
		// width: 280px;
		background-color: #152542;
		padding: 50px 15px;
	}
}
.menu-close {
	background-color: transparent;
	padding: 0;
	border: none;
	font-size: 30px;
	color: #fff;

	position: absolute;
	top: 10px;
	right: 15px;
	&:focus {
		outline: none;
	}
	@media only screen and (min-width: 1520px) {
		display: none;
	}
}
.menu-close-icon {
}