.menu-nav {
	li {
		margin-bottom: 20px;
	}
	a {
		display: flex;
		align-items: center;
		padding-bottom: 8px;
		border-bottom: 1px solid #313341;

		font-size: 14px;
		color: #7A84A4 !important;
		text-decoration: none !important;
		.svg-icon {
			// font-size: 12px;
			margin-right: 17px;
		}
		&:hover {
			color: #FD4103 !important;
			border-bottom-color: #FD4103;
		}
	}
}