.modal {
	color: #000;
	z-index: 9999999;
}
.modal-dialog {
	@include sm() {
		max-width: 860px;
	}
	&_width_440 {
		@include sm() {
			max-width: 440px;
		}
	}
}
.modal-content {
	border: none;
	background-color: transparent;
	// padding-left: 15px;
	// padding-right: 15px;
}
.modal-close {
	position: absolute;
	right: 20px;
	top: 20px;
	float: none;

	color: #152542;
}

.modal-list {
	font-weight: 500;
	font-size: 20px;
	color: #000;
}