.notifications {
	position: relative;
	perspective: 100px;
	&.visible {
		@include lg() {
			.notifications-btn {
				background: #262835;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #585A62;
			}
			.notifications-drop {
				opacity: 1;
				visibility: visible;
				transform: rotateX(0);
			}
		}
		@include mlg() {
			.notifications-drop {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.notifications-btn {
	padding: 23px 20px 23px;
	color: #7A84A4;
	font-size: 20px;
	transition: linear .2s;
	@include mlg() {
		display: block;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;

		text-align: left;
		font-size: 18px;
	}
}
.indicator {
	position: absolute;
	right: -3px;
	top: 0;

	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	
	color: #fff;
	font-size: 10px;
	font-weight: 700;

	border-radius: 50%;
	background: linear-gradient(88.79deg, #D0243C 6.38%, #FD4103 99.46%);
	@include mlg() {
		right: 0;
	}
	@include mlg() {
		right: -3px;
	}
}

.notifications-drop {

	opacity: 0;
	visibility: hidden;

	transition: linear .2s;
	@include lg() {
		position: absolute;
		top: 100%;
		right: 0;
		width: 322px;
		transform-origin: 100% 0;
		transform: rotateX(-90deg);
	}
	@include mlg() {
		// position: fixed;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		overflow-y: auto;
		z-index: 999999;

		width: 100%;
		// max-width: 600px;
		padding-left: 20px;
		padding-right: 20px;

		.notifications-drop-in {
			position: relative;
			margin-top: 100px;
			margin-bottom: 100px;
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
			width: 100%;
			box-shadow: 0 4px 12px rgba(#fff, .1);
		}

		&.visible {
			opacity: 1;
			// transform: rotateX(0);
		}
	}
}

.notifications-drop-in {
	padding: 20px 16px;
	background: #262835;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #585A62;

	@include mlg() {
		padding-top: 50px;
		padding-left: 0;
		padding-right: 0;
	}
}

.notifications-drop-scroll {
	@include mlg() {
		max-height: 300px;
		overflow-y: auto;
		padding-left: 16px;
		padding-right: 16px;
	}
}


.notifications-item {
	display: block;
	border-bottom: 1px solid #313341;
	padding-bottom: 10px;
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	&:hover {
		text-decoration: underline;
		text-decoration-color: #313341;
		.notifications-item-title {
			color: #fff;
			text-shadow: none;
		}
		.notifications-item-date {
			// color: #fff;
		}
		.notifications-item-content {
			color: #fff;
		}
	}
}
.notifications-item-title {
	color: #AFCF3B;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.notifications-item-date {
	font-weight: 700;
	font-size: 12px;
	text-transform: capitalize;
	text-align: right;
	color: #7A84A4;
	padding-top: 2px;
}

.notifications-item-content {
	margin-top: 10px;
	font-size: 14px;
	color: #B8BCC8;
}

.notifications-close {
	position: absolute;
	top: 5px;
	right: 30px;

	font-size: 20px;
	color: #fff;
	@include mlg() {
		right: 10px;
	}
}