.ready-sets {

}
.ready-sets-carousel {
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translate(0, -50%);
		margin: 0;
		[class*="owl-"] {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			margin: 0;
			font-size: 30px !important;
			&:hover {
				background-color: transparent !important;
			}
			&:focus {
				outline: none;
			}
		}
		.owl-prev {
			left: -20px;
			@include msm() {
				left: -10px;
			}
		}
		.owl-next {
			right: -20px;
			@include msm() {
				right: -10px;
			}
		}
	}
	.owl-stage {
		// display: flex;
		// justify-content: space-between;
	}
	.owl-item {
		text-align: center;
	}
}
.ready-sets-item {
	// padding-left: 15px;
	// padding-right: 10px;
}
.ready-sets-link {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 148px;

	text-align: center;
	padding: 30px 20px;

	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.03em;
	color: #7A84A4;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	img {
		margin-bottom: 15px;
		filter: grayscale(1);
		width: auto !important;
		display: inline-block !important;
	}
	&:before, &:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 100%;
		min-height: 167px;
		width: 170px;
		
	}
	&:before {
		background-image: url('../images/ready-sets-link-bg.png');
	}
	&:after {
		background-image: url('../images/ready-sets-link-bg-active.png');
		opacity: 0;
		visibility: hidden;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		img {
			filter: grayscale(0)
		}
		&:before {
			opacity: 0;
			visibility: hidden;
		}
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.ready-sets-link-in {
	position: relative;
	z-index: 2;
}