.search-input-trigger {
	position: relative;
	background-color: transparent;
	border: 1px solid #7A84A4;
	border-radius: 50%;
	padding: 4px;

	width: 46px;
	height: 46px;
	.search-input-submit {
		top: 50%;
		right: 50%;
		// margin-right: -2px;
		transform: translate(50%, -50%);

		background-color: transparent;
	}
}
.search-input {
	position: relative;
	transition: linear .2s;
	.form-control {
		border: 1px solid #292C3B;
		border-radius: 66px;
		height: auto;
		min-height: none;
		line-height: 1;
		padding: 11px 50px 10px 20px;
		text-align: left;
		background-color: transparent;

		color: #fff;
		font-size: 16px;
		font-weight: 700;
		@include iph() {
			text-align: left;
			font-weight: 700;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.03em;
			color: #42434B;
		}
		&:focus {
			background-color: transparent;
			border-color: #7A84A4;
		}
	}
	@include mlg() {
		position: fixed;
		top: 0;
		right: 0;
		width: 280px;
		height: 100%;
		z-index: 999999;

		opacity: 0;
		visibility: hidden;

		padding: 60px 15px 30px;

		background-color: #292C3B;
		transform: translate(100%, 0);
		.form-control {
			border-color: #7A84A4;
		}
		.search-input-submit {
			background-color: #7A84A4;
			color: #fff;
		}
		
		&.visible {
			visibility: visible;
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}
.search-input-submit {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 35px;
	height: 35px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #292C3B;
	border-radius: 66px;
	color: #7A84A4;
	&:hover {
		background-color: #7A84A4;
		color: #fff;
	}
}


.search-input-close {
	position: absolute;
	top: 10px;
	right: 15px;

	color: #fff;
	font-size: 20px;
}