.sidebar {
	position: sticky;
	left: 0;
	top: 72px;
	// top: 0;
	// bottom: 70px;
	width: 335px;
	// overflow-y: auto;
	// height: 100%;

	padding: 45px 25px 0;
	// overflow-y: auto;

	@include mlg() {
		padding-top: 0;
		padding-bottom: 0;
		position: absolute;
		width: 100%;
		top: 60px;
		bottom: 50px;
		overflow-y: auto;
		.lang {
			margin-left: 0 !important;
			margin-bottom: 20px;

			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.lang-btn {
			// display: none;
			font-size: 0;
			padding-left: 10px;
			padding-right: 10px;
			.svg-icon {
				display: none;
			}
		}
		.lang-list {
			margin: 0;
			opacity: 1;
			visibility: visible;
			position: static;
			transform: rotate(0);
			width: auto;
			display: flex;
			flex-wrap: wrap;
			li {
				margin: 0;
				font-size: 0;
				padding-left: 10px;
				padding-right: 10px;
			}
			a {
				transform: none;
			}
		}
		.button-third {
			padding: 4px;
		}
	}
	@include msm() {
		padding-left: 0;
		padding-right: 0;
	}
}
.sidebar-in {
	position: relative;
	padding: 45px 30px;
	@include lg() {
		background-color: #1C1E2A;
	}
	@include mlg() {
		padding: 0 15px;
	}
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// margin: 45px 25px 0;
	// padding: 45px 25px;
	// height: 100%;
	// overflow-y: auto;
	// height: 100%;
}

.sidebar-inner {
	// background: #1C1E2A;
	// padding: 45px 30px;

}