.user {

}
.user-btn {
	position: relative;
	padding: 0 25px;
	color: #B8BCC8;
	font-size: 14px;
	transition: linear .1s;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: 0;
		border-left: 1px solid #292C3B;
		transform: translate(0, -50%);

		height: 22px;
	}
	.svg-icon {
		font-size: 17px;
		color: #292C3B;
	}
	@include mlg() {
		width: 100%;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;

		font-size: 18px;
	}
}

.user-btn-in {
	position: relative;
	display: inline-flex;
	flex-wrap: nowrap;
	padding-top: 27px;
	padding-bottom: 26px;
	span {
		margin-left: 7px;
		@media only screen and (max-width: 1919px) {
			@include lg() {
				display: none;
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		margin-bottom: -5px;

		border: 2px solid #FD4103;
		box-shadow: 0px 0px 15px #FF2E35;

		opacity: 0;
		visibility: hidden;

		transition: linear .1s;
		@include mlg() {
			display: none;
		}
	}
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25px;

		background: linear-gradient(84.38deg, #D0243C 6.38%, #FD4103 99.46%);
		filter: blur(18px);

		opacity: 0;
		visibility: hidden;
		margin-bottom: -5px;
		@include mlg() {
			display: none;
		}
	}
	&:hover {
		color: #FD4103;
		&:before, &:after {
			opacity: 1;
			visibility: visible;
			margin-bottom: 0;
		}
		&:after {
			opacity: .1;
		}
	}
	@include mlg() {
		padding-top: 10px;
		padding-bottom: 10px;

		display: flex;
		align-items: center;
		img {
			flex-grow: 0;
		}
		.svg-icon {
			flex-grow: 0;
		}
	}
}