.wrapper {
	display: flex;
	flex-direction: column;
	// overflow: hidden;
}
.wrapper-in {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper-header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9999;

	width: 100%;
}
.wrapper-sidebar {
	width: 335px;
	float: left;
	position: sticky;
	top: 72px;
	left: 0;
	// max-width: 335px;
	// flex: 0 0 335px;
	// width: 18.5%;
	// overflow-y: auto;
	// overflow-x: hidden;
	&:before {
		@include lg() {
			content: '';
			position: fixed;
			width: 285px;
			top: 117px;
			left: 25px;
			right: 25px;
			bottom: 0;
			background-color: #1C1E2A;
		}
	}
	@include mlg() {
		position: fixed;
		top: 0;
		left: auto;
		right: 0;
		bottom: 0;
		width: 51%;
		z-index: 9999;
		padding-top: 50px;
		padding-bottom: 50px;

		background-color: #262835;

		opacity: 0;
		visibility: hidden;

		transition: linear .2s;
		transform: translate(100%, 0);

		// overflow-y: auto;
		// overflow-x: hidden;
		&.visible {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}
}

.wrapper-content {
	background-color: #1C1E23;
	@include lg() {
		margin-left: 335px;
	}
}
.wrapper-footer {
	position: relative;
	// position: sticky;
	// bottom: 0;
	// left: 0;
}