<footer class="wrapper-footer footer">
	<div class="footer-head position-relative clearfix pt-3 pb-3 pt-lg-0 pb-lg-0">
		<div class="header-logo-wrap position-static float-lg-left pl-3 pr-3 pl-lg-0 ml-auto mr-auto ml-lg-0 mr-lg-0">
			<a href="#" class="logo">
				<img src="images/logo.svg" alt="">
			</a>
		</div>
		<div class="header-main pt-3 pt-lg-2 pb-lg-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-10 ml-auto mr-auto">
						<div class="row align-items-center justify-content-xl-between">
							<h3 class="col-xl-2 pt-2 pb-2 m-0 d-none d-xl-block">We accept</h3>
							<div class="col-sm-9 col-lg-12 col-xl-10 ml-auto mr-auto mr-lg-0 ml-lg-0">
								<div class="payment-carousel style-carousel owl-carousel owl-theme">
									<div class="column pt-2 pb-2">
										<img src="images/visa.svg" alt="">
									</div>
									<div class="column pt-2 pb-2">
										<img src="images/mc.svg" alt="">
									</div>
									<div class="column pt-2 pb-2">
										<img src="images/pp.svg" alt="">
									</div>
									<div class="column pt-2 pb-2">
										<img src="images/bb.svg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-other d-flex flex-wrap flex-sm-nowrap">
		<div class="footer-other-copy bg-third d-flex flex-column align-items-center justify-content-center text-center">
			<div class="pb-2 mb-1">© Boost-Up 2019 <br> All rights reserved.</div>
			<div>
				<a href="#"><img src="images/fb.png" alt=""></a>
				<a href="#"><img src="images/vk.png" alt=""></a>
				<a href="#"><img src="images/tw.png" alt=""></a>
				<a href="#"><img src="images/g+.png" alt=""></a>
			</div>
		</div>
		<div class="header-main flex-grow-1">
			<div class="row">
				<div class="column">
					<div class="text-grey mb-2">
						All included here mentioned brand names are registered and property of the respective companies. <br> World of Warcraft tm and Blizzard Entertainment are registered trademarks of Blizzard Entertainment Inc.
					</div>
					<div class="row">
						<div class="column mb-2"><a class="footer-link text-white" href="#">World of Warcaft</a></div>
						<div class="column mb-2"><a class="footer-link text-white" href="#">Terms and conditions</a></div>
						<div class="column mb-2"><a class="footer-link text-white" href="#">Privacy Policy</a></div>
					</div>
				</div>
				<div class="column">
					<div class="mb-2">We use cookies to run our website</div>
					<div class="text-grey">Cookies are important for our website to operate properly. To learn more <br> about cookies and data we collect, check out our <a class="footer-link" href="#">Privacy Policy</a></div>
				</div>
			</div>
		</div>
	</div>
</footer>