<header class="wrapper-header header">
	<div class="header-logo-wrap bg-my-secondary pr-3">
		<div class="d-flex flex-nowrap align-items-center">
			<a href="#" class="logo">
				<img src="images/logo.svg" alt="">
			</a>
			<div class="lang ml-3 pl-1 flex-shrink-0">
				<div class="lang-btn">
					<img src="images/usa.png" width="17" height="17" alt="">
					<svg class="svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
					</svg>
				</div>
				<ul class="lang-list list-unstyled">
					<li><a href="#"><img src="images/ru.png" width="17" height="17" alt=""></a></li>
					<li><a href="#"><img src="images/de.png" width="17" height="17" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-main">
		<div class="d-flex flex-wrap">
			<div class="header-mobile mobile-collapse w-100" data-id="mobile-collapse">
				<div class="mobile-collapse-in d-lg-flex flex-lg-wrap">
					<div class="header-menu">
						<div class="game-menu-list menu-carousel style-carousel owl-carousel owl-theme">
							<div>
								<a class="game-menu-item" href="#">
									<img src="images/wow-icon.png" width="40" height="28" alt="">
									<span>WOW</span>
									<span class="game-item-icon-wrap">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
										</svg>
									</span>
								</a>
							</div>
							<div>
								<a class="game-menu-item" href="#">
									<img src="images/wowC-icon.png" width="40" height="28" alt="">
									<span>WOW: Classic</span>
									<span class="game-item-icon-wrap">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
										</svg>
									</span>
								</a>
							</div>
							<div>
								<a class="game-menu-item" href="#">
									<img src="images/over-icon.png" width="40" height="28" alt="">
									<span>Overwatch</span>
									<span class="game-item-icon-wrap">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
										</svg>
									</span>
								</a>
							</div>
							<div>
								<a class="game-menu-item" href="#">
									<img src="images/hearth-icon.png" width="40" height="28" alt="">
									<span>Hearthstone</span>
									<span class="game-item-icon-wrap">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
										</svg>
									</span>
								</a>
							</div>
							<div>
								<a class="game-menu-item" href="#">
									<img src="images/destiny2-icon.png" width="40" height="28" alt="">
									<span>Destiny 2</span>
									<span class="game-item-icon-wrap">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
										</svg>
									</span>
								</a>
							</div>
							<div>
								<a class="game-menu-item" href="#">
									<img src="images/dota2-icon.png" width="40" height="28" alt="">
									<span>DOTA 2</span>
									<span class="game-item-icon-wrap">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
										</svg>
									</span>
								</a>
							</div>
							<div>
								<a class="game-menu-item" href="#">
									<img src="images/wot-icon.png" width="40" height="28" alt="">
									<span>WOT</span>
									<span class="game-item-icon-wrap">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
										</svg>
									</span>
								</a>
							</div>
						</div>
					</div>
					<div class="header-other">
						<div class="d-lg-flex flex-lg-wrap">
							<div class="notifications" data-id="notif">
								<button class="notifications-btn button-clr" data-toggle="toggleVisible" data-target="notif">
									<span class="position-relative">
										<svg class="svg-icon">
											<use xlink:href="images/svg-sprite/svgSprite.svg#bell"></use>
										</svg>
										<span class="indicator">1</span>
									</span>
									<span class="ml-3 d-none s-dm-inline-block d-lg-none">Notifications</span>
								</button>
								<div class="notifications-drop" data-id="notif">
									<div class="notifications-drop-in">
										<div class="notifications-drop-scroll">
											<button class="notifications-close button-clr d-lg-none" type="button" data-toggle="toggleVisible" data-target="notif">
												<svg class="svg-icon">
													<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
												</svg>
											</button>
											<a class="notifications-item" href="#">
												<div class="notifications-item-head d-flex flex-nowrap justify-content-between align-items-start">
													<h4 class="notifications-item-title">New DOTA 2 services</h4>
													<div class="notifications-item-date ml-2">2 hours ago</div>
												</div>
												<span class="notifications-item-content">Selfplay Arena Services have a targeted rating. Available up to 2100, they are designed</span>
											</a>
											<a class="notifications-item" href="#">
												<div class="notifications-item-head d-flex flex-nowrap justify-content-between align-items-start">
													<h4 class="notifications-item-title">New DOTA 2 services</h4>
													<div class="notifications-item-date ml-2">2 hours ago</div>
												</div>
												<span class="notifications-item-content">Selfplay Arena Services have a targeted rating. Available up to 2100, they are designed</span>
											</a>
										</div>
										<div class="text-center">
											<a class="link link_notif" href="#">read all notification</a>
										</div>
									</div>
								</div>
							</div>
							<div class="user">
								<button class="user-btn button-clr" type="button">
									<span class="user-btn-in">
										<img src="images/user-avatar.png" width="17" height="17" alt="">
										<span>Michael</span>
										<span>
											<svg class="svg-icon">
												<use xlink:href="images/svg-sprite/svgSprite.svg#door"></use>
											</svg>
										</span>
									</span>
								</button>
							</div>
							<div class="cash">
								<div class="cash-in">
									<a class="cash-btn" href="#">
										<span class="cash-btn-txt">100.00$</span>
										<span class="cash-btn-plus">+</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="mobile-collapse-toggle button-clr d-lg-none ml-auto pr-3" type="button" data-toggle="toggleVisible" data-target="mobile-collapse">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
				</svg>
			</button>
		</div>
	</div>
</header>